{% extends 'techbytes-2017/base.html' %}

{% block main %}
<div class="jumbotron">
<h1>About</h1>
<p class="lead">
    This presentation is available at <a href="http://intro2libsys.info/techbytes-2017">http://intro2libsys.info/techbytes-2017</a> 
    and was built using <a href="http://flask.pocoo.org/">Flask</a>. Source code is hosted on Github at 
    <a href="https://github.com/jermnelson/techbytes-2017">https://github.com/jermnelson/techbytes-2017</a> under the 
    Apache2 license. All content &copy; 2017 under 
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Common ShareAlike 4.0</a>.
    

</p>
</div>
{% endblock %}
