{% extends 'techbytes-2017/base.html' %}

{% block main %}
<div class="jumbotron">
    {#<h2 class="display-4">May 4<sup>th</sup> 2017</h2>#}
    <h3 class="du-color-gold">Denver University ASIS&amp;T TechBytes</h3>
    <h1 class="display-3">Library Linked Data</h1>
    <p class="lead">
        A brief introduction to Library Linked Data using BIBFRAME and Schema.org
    </p>
    <p><a class="btn btn-lg btn-primary"  href="{{ url_for('page', path=presentation.0.path) }}" role="button">{{ presentation.0.title }}
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a></p>
</div>
<div class="row marketing">
    <div class="col-lg-6">
        {% for page in presentation[0:4] %}
        <h4>{{ page.title }} 
        <a href="{{ url_for('page', path=page.path) }}" class="btn btn-sm btn-success">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>

        </a>
        </h4>
        <p>{{ page.description }}</p>
        {% endfor %}
    </div>
    <div class="col-lg-6">
        {% for page in presentation[4:] %}
        <h4>{{ page.title }} 
        <a href="{{ url_for('page', path=page.path) }}" class="btn btn-sm btn-success">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        </h4>
        <p>{{ page.description }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
