{% extends 'techbytes-2017/base.html' %}

{% block main %}
<div class="jumbotron">
    <h1 class="du-color-red display-3">{{ page.meta.title }}</h1>
    <p class="lead">{{ page.meta.description }}</p>
</div>
<div class="row marketing">
    <article class="col-md-12">
        {{ page.html|safe }}
    </article>
</div>
{% if page.meta.downloads %}
  <h4>Downloads</h4>
  <ul>
      {% for filename in page.meta.downloads.split(",") %}
      {% set path = 'rdf/' + filename %}
      <li><a href="{{ url_for('static', filename=path) }}">{{ filename }}</a></li>
      {% endfor %}
  </ul>
{% endif %}

<div class="btn-group" role="group" aria-label="Page Navigation">
    {% if previous_page %}
    <a href="{{ url_for('page', path=previous_page.path) }}" class="btn btn-sm btn-danger">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        {{ previous_page.title }}
    </a>
    {% endif %}
    {% if next_page %}
    <a href="{{ url_for('page', path=next_page.path) }}" class="btn btn-sm btn-success">
        {{ next_page.title }}
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
    {% endif %}
</div>
{% endblock %}
